@model List<CPCOrderBooking>
@{
    var detailsList = ViewBag.DetailsList as List<Vew_Orderbookings>;
}

<div class="form-Modal">
    <div class="modal-content bg-transparent">
        <div class="modal-header">
            <h3 class="modal-title">
                Order Booking Requests
                <span class="pull-right menu-links">
                    <a href="javascript://" class="text-muted" title="go to previous" style="margin:0 8px;" onclick="window.history.back()">
                        <i class="fa fa-angle-left"></i> <span class="grid-buttons"> Go Back</span>
                    </a>
                </span>
            </h3>
        </div>

        <div class="modal-body">
            <div class="table-responsive">
                <table id="Orderbooking-dataTable" class="table table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Order No" id="Orderbooking-dataTable_0" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Date" id="Orderbooking-dataTable_1" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="No Of Bundles" id="Orderbooking-dataTable_2" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Total Amount" id="Orderbooking-dataTable_3" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Status" id="Orderbooking-dataTable_4" /></th>
                            <th class="text-center" width="100px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>
                                    @x.OrderNo
                                </td>
                                <td>
                                    @x.Date.ToString(Constants.DATE_FORMAT_CLIENT_SIDE)
                                </td>

                                <td>@(detailsList.Where(ab => ab.Id == x.Id).ToList() != null ? detailsList.Where(ab => ab.Id == x.Id).Sum(y => y.NoOfBundles) : 0)</td>
                                <td>@(detailsList.Where(ab => ab.Id == x.Id).ToList() != null ? detailsList.Where(ab => ab.Id == x.Id).Sum(y => y.TotalAmount) : 0)</td>
                                <td>
                                    @if (x.Status == (int)AnnexureStatus.Approved)
                                    {
                                        <label class="label label-primary">Approved</label>
                                    }
                                    else if (x.Status == (int)AnnexureStatus.Inprocess)
                                    {
                                        <label class="label label-info">Inprocess</label>
                                    }
                                    else if (x.Status == (int)AnnexureStatus.Completed)
                                    {
                                        <label class="label label-success">Completed</label>
                                    }
                                    else if (x.Status == (int)AnnexureStatus.Rejected)
                                    {
                                        <label class="label label-danger">Declined</label>
                                    }
                                </td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-xs" role="group">
                                        <a href="@Url.Action("Details","OrderApproval")/@x.Id" class="btn btn-primary mg-r" title="Details"><i class="fa fa-eye"></i> </a>
                                        @if (CurrentUser.HasAnyPermission(BaseApp.Entity.AppPermission.All, BaseApp.Entity.AppPermission.ViewOrderRequests, BaseApp.Entity.AppPermission.OrderRequests))
                                        {
                                            if (x.Status == (int)AnnexureStatus.Approved || x.Status == (int)AnnexureStatus.Rejected || x.Status == (int)AnnexureStatus.Completed || x.Status == (int)AnnexureStatus.Proceeded)
                                            { 
                                            }
                                            else
                                            {
                                                <a href="javascript://" onclick="approveRecord('@Url.Action("Approve")', '@x.Id')" class="btn btn-success" title="Approve"><i class="fa fa-check"></i> </a>
                                                <a href="javascript://" onclick="approveRecord('@Url.Action("Decline")', '@x.Id')" class="btn btn-danger" title="Decline"><i class="fa fa-trash"></i> </a>
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer text-right">
            <div class="pull-right menu-links">
                <a href="javascript://" class="text-muted" title="go to previous" style="margin:0 8px;" onclick="window.history.back()">
                    <i class="fa fa-angle-left fa-2x"></i> <span class="grid-buttons"> Go Back</span>
                </a>
            </div>
        </div>
    </div>
</div>




