
@model CPCAnnexureIII
@{
    var queryId = ViewContext.RouteData.Values["Id"];
    ViewBag.Title = (queryId == null ? "Add New Annexure III" : "Edit Annexure III");
}

<form id="lead-frm" class="user-Profile" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Id)

    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="btn-group" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-close"></i> Cancel / Back</a>
                <button type="submit" id="submit" class="btn btn-success"><i class="fa fa-check"></i> Submit</button>
            </div>
        </div>
    </div>
    @Html.HiddenFor(x=> x.AnnexureId)

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4> Annexure III </h4>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row form-group">
                                        <label class="col-sm-4 text-left horizontal-label">Sr. Number</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(x => x.SrNo, new { @class = "form-control input-sm", @type = "number", @required = "required", @autofocus = "true" })
                                            @Html.ValidationMessageFor(m => m.SrNo)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="row form-group">
                                        <label class="col-sm-3 text-left horizontal-label">Date</label>
                                        <div class="col-sm-9">
                                            <div class="input-group input-group-sm">
                                                <input name="AnnexureIIIDate" id="AnnexureIIIDate" class="form-control input-sm" type="date" value="@Model.AnnexureIIIDate.ToString("yyyy-MM-dd")" required autocomplete="off" >
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="row form-group">
                                        <label class="col-sm-4 text-left horizontal-label">Branch Name/Code</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(x => x.ProjectBranchId, (SelectList)ViewBag.BrachList, " Select Branch ", new { @class = "form-control input-sm select2" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Shipment Bag Seal Number</label>
                                        <div class="col-sm-6">
                                            <input class="form-control input-sm" id="ShipmentSealNumber" name="ShipmentSealNumber" readonly />
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Shipment Receipt Number</label>
                                        <div class="col-sm-6">
                                            <input class="form-control input-sm" id="ShipmentReceiptNumber" name="ShipmentReceiptNumber" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row tb-padding">
                        <table id="mytable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2" rowspan="2">Description of Cash</th>
                                    <th>Rs</th>
                                    <td><input class="form-control input-sm" name="AccountsList[0].AccountName" /></td>
                                    <th>Rs</th>
                                    <td><input class="form-control input-sm" name="AccountsList[0].AccountName" /></td>
                                    <th>Rs</th>
                                    <td><input class="form-control input-sm" name="AccountsList[0].AccountName" /></td>
                                </tr>
                                <tr>
                                    <th>No. of Bundles/Pieces</th>
                                    <th>Value</th>
                                    <th>No. of Bundles/Pieces</th>
                                    <th>Value</th>
                                    <th>No. of Bundles/Pieces</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2">Unsorted Cash Collected</td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].UnsortedCashCollected" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].UnsortedCashCollectedValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].UnsortedCashCollected" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].UnsortedCashCollectedValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].UnsortedCashCollected" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].UnsortedCashCollectedValue" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">FIT/Re-Issuable</td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].FITReIssuable" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].FITReIssuableValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].FITReIssuable" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].FITReIssuableValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].FITReIssuable" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].FITReIssuableValue" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Unfit/Soiled</td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].UnfitSoiled" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].UnfitSoiledValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].UnfitSoiled" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].UnfitSoiledValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].UnfitSoiled" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].UnfitSoiledValue" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Mismatch/Defaced Zero Value</td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].MismatchDefacedZero" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].MismatchDefacedZeroValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].MismatchDefacedZero" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].MismatchDefacedZeroValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].MismatchDefacedZero" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].MismatchDefacedZeroValue" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Counterfeit Notes</td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].CounterfeitNotes" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].CounterfeitNotesValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].CounterfeitNotes" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].CounterfeitNotesValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].CounterfeitNotes" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].CounterfeitNotesValue" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Net Excess</td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].NetExcess" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].NetExcessValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].NetExcess" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].NetExcessValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].NetExcess" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].NetExcessValue" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Net Storage</td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].NetShortage" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].NetShortageValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].NetShortage" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].NetShortageValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].NetShortage" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].NetShortageValue" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Total Cash Returned</td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].TotalCashReturned" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].TotalCashReturnedValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].TotalCashReturned" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].TotalCashReturnedValue" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].TotalCashReturned" /></td>
                                    <td><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].TotalCashReturnedValue" /></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Cash Received By <b>CPC</b> Staff Name</label>
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(x => x.CashReceivedCPCStaffA, (SelectList)ViewBag.EmployeeList, " Select Employee ", new { @class = "form-control input-sm select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Cash Received By <b>CPC</b> Staff Name</label>
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(x => x.CashReceivedCPCStaffB, (SelectList)ViewBag.EmployeeList, " Select Employee ", new { @class = "form-control input-sm select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Cash Handed Over By <b>CIT</b> Staff Name</label>
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(x => x.CashHandedOverCITStaffAId, (SelectList)ViewBag.EmployeeList, " Select Employee ", new { @class = "form-control input-sm select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Cash Handed Over By <b>CIT</b> Staff Name</label>
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(x => x.CashHandedOverCITStaffBId, (SelectList)ViewBag.EmployeeList, " Select Employee ", new { @class = "form-control input-sm select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="btn-group" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-close"></i> Cancel / Back</a>
                <button type="submit" id="submit" class="btn btn-success"><i class="fa fa-check"></i> Submit</button>
            </div>
        </div>
    </div>
</form>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            //-- Read Only Mode Trigger -//
            @*if ('@ViewData["IsView"]' != '') {
                $("input").attr("readonly", true);
                $("#IsActive").attr("disabled", true);
                $("#submit").hide();
            }*@

            $(".select2").select2();

            $('#ProjectBranchId').change(function (e) {
                e.preventDefault();
                const id = $('#ProjectBranchId option:selected').attr('value');
                const date = $('#AnnexureIIIDate').val();
                console.log(id + ' ' + date);
                //var dataItem = $('#inp-sku').val();
                if (id != "") {
                    $.get('/CPC/AnnexureI/GetAnnexureI?Id=' + id + '&date=' + date, function (response) {
                        if (response != null) {
                            
                            console.log(response);
                            $('#ShipmentReceiptNumber').val(response.ShipmentReciptNo);
                            $('#ShipmentSealNumber').val(response.SealNo);
                            $('#AnnexureId').val(response.Id); 
                            //$('input#inp-title').val(d.Title);
                            //$('input#inp-price').val(d.SalePrice);
                            //$('input#inp-remaingQty').val(d.Quantity);
                            //$('input#inp-quantity').val('').focus();
                        }
                    });
                } else {
                    $('form#add-item input').val('');
                }
            });

        });

        function GetTotal() {
            //debugger;
            debit = 0;
            credit = 0;
            //console.log(accountGridRowIndex);

            for (var i = 1; i < accountGridRowIndex; i++) {
                //console.log("For LOOP, i= " + i);
                if ($("#txt_AccountCode" + i).val() != "" && $("#txt_AccountName" + i).val() != "") {

                    debit += parseFloat($("#txt_Debit" + i).val());
                    credit += parseFloat($("#txt_Credit" + i).val());

                    //console.log("D :" + debit + "C :" + credit);
                }
                $("#txt_difference").val(parseFloat(debit - credit).toFixed(2));
                $("#TotalDebit").val(parseFloat(debit).toFixed(2));
                $("#TotalCredit").val(parseFloat(credit).toFixed(2));
            }
        }
    </script>
}

